@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  margin: 0px 25px;
  width: 100px;
  /* border: 1px solid brown; */
}

.navItems {
  /* border: 1px solid grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.navItems ul {
  display: flex;
  list-style-type: none;
}

.navItems ul li {
  padding: 10px;
  margin: 10px;
}